<body>


    <div class="container">

        <form>
            <label for="name" style="width: 100px;">Name:</label>
            <input type="text" id="name" name="name" style="margin-left: 10px; padding: 5px;">
            <br>
            <label for="email" style="width: 100px;">Email:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">

            <br>
            <label for="email" style="width: 100px;">Nationality:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">

            <br>
            <label for="email" style="width: 100px;">Gender:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">

            <br>
            <label for="email" style="width: 100px;">Data Of Birth:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">

            <br>
            <label for="email" style="width: 100px;">Adhaar card:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">
            <br>
            <label for="email" style="width: 100px;">Address:</label>
            <input type="email" id="email" name="email" style="margin-left: 10px; padding: 5px;">

            <br>

            <label for="email" style="width: 100px;">Type of Loan:</label>
            <div class="Select">
                <select>
                    <option>Choose</option>
                    <option>Personal Loan</option>
                    <option>Home Loan</option>
                </select>

                <!-- Personal Loan -->
                <div>
                    <label for="email" style="width: 100px;">Company Name:</label>
                    <input type="email" class="form-control" id="email" name="email"
                        style="margin-left: 10px; padding: 5px;">

                    <br>
                    <label for="email" style="width: 100px;">Total Work Experience (Years):</label>
                    <input type="email" id="email" class="form-control" name="email"
                        style="margin-left: 10px; padding: 5px;">

                    <label for="email" style="width: 100px;">Annual Salary:</label>
                    <input type="email" class="form-control" id="email" name="email"
                        style="margin-left: 10px; padding: 5px;">

                    <br>
                    <label for="email" style="width: 100px;">Existing EMI Amount:</label>
                    <input type="email" class="form-control" id="email" name="email"
                        style="margin-left: 10px; padding: 5px;">

                    <br>
                    <label for="email" style="width: 100px;">Loan Amount:</label>
                    <input type="email" class="form-control" id="email" name="email"
                        style="margin-left: 10px; padding: 5px;">

                    <br>

                    <label for="email" style="width: 100px;">Duration in months:</label>
                    <div class="Select">
                        <select>
                            <option>Choose</option>
                            <option>6 Months</option>
                            <option>12 Months</option>
                            <option>24 Months</option>
                            <option>36 Months</option>

                        </select>
                    </div>

                    <!-- House Loan -->
                    <div>
                        <label for="email" style="width: 100px;">Property Sqft:</label>
                        <input type="email" class="form-control" id="email" name="email"
                            style="margin-left: 10px; padding: 5px;">

                        <br>
                        <label for="email" style="width: 100px;">Builder Name:</label>
                        <input type="email" id="email" class="form-control" name="email"
                            style="margin-left: 10px; padding: 5px;">

                        <label for="email" style="width: 100px;"> Property Value:</label>
                        <input type="email" class="form-control" id="email" name="email"
                            style="margin-left: 10px; padding: 5px;">

                        <br>
                        <label for="email" style="width: 100px;">Annual Salary:</label>
                        <input type="email" class="form-control" id="email" name="email"
                            style="margin-left: 10px; padding: 5px;">

                        <br>
                        <label for="email" style="width: 100px;"> Loan Amount:</label>
                        <input type="email" class="form-control" id="email" name="email"
                            style="margin-left: 10px; padding: 5px;">

                        <br>

                        <label for="email" style="width: 100px;">Duration in months:</label>
                        <div class="Select">
                            <select>
                                <option>Choose</option>
                                <option>6 Months</option>
                                <option>12 Months</option>
                                <option>24 Months</option>
                                <option>36 Months</option>

                            </select>
                        </div>







                    </div>



                    <button>Submit</button>
                </div>
            </div>


        </form>
    </div>
</body>